<footer class="footer">
    <div class="container-footer">
        <div class="footer__inner">
            <div class="footer__content">
                <ul class="footer__list">
                    <li class="footer__item">
                        <a class="footer__item-link" href="#">
                            Главная
                        </a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__item-link" href="#">
                            О компании
                        </a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__item-link" href="#">
                            Доставка
                        </a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__item-link" href="#">
                            Отзывы
                            <span class="menu__link-tip">452</span>
                        </a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__item-link" href="#">
                            Как сделать заказ
                        </a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__item-link" href="#">
                            Контакты
                        </a>
                    </li>
                </ul>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a class="footer__item-link" href="#">
                            Строительные материалы
                        </a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__item-link" href="#">
                            Наружная отделка
                        </a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__item-link" href="#">
                            Кровельные материалы
                        </a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__item-link" href="#">
                            Отопительное оборудование
                        </a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__item-link" href="#">
                            Внутренняя отделка
                        </a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__item-link" href="#">
                            Весь инструмент
                        </a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__item-link" href="#">
                            Крепеж и фурнитура
                        </a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__item-link" href="#">
                            Электрика и освещение
                        </a>
                    </li>
                </ul>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a class="footer__item-link" href="#">
                            Напольные покрытия
                        </a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__item-link" href="#">
                            Сантехника
                        </a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__item-link" href="#">
                            Товары для сада и огорода
                            <span class="menu__link-tip">Акция!</span>
                        </a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__item-link" href="#">
                            Водоснабжение и канализация
                        </a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__item-link" href="#">
                            Хозяйственные товары
                        </a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__item-link" href="#">
                            Вентиляция и кондиционирование
                        </a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__item-link" href="#">
                            Средства индивидуальной защиты
                        </a>
                    </li>
                </ul>
                <ul class="footer__list">
                    <li class="footer__item">
                        <p class="footer__item-text">
                            Бесплатный звонок с любого номера
                        </p>
                    </li>
                    <li class="footer__item">
                        <a class="footer__item-link footer__item-link-phone" href="tel:+88006003435">
                            8 (800) 600-34-35
                        </a>
                    </li>
                    <li class="footer__item">
                        <p class="footer__item-text">
                            Пн-Вс: с 8.00 до 19.00
                        </p>
                    </li>
                </ul>
            </div>
            <div class="footer__copy">
                <ul class="footer__copy-list">
                    <li class="footer__copy-item">
                        © 2007-2022 ООО Союз
                    </li>
                    <li class="footer__copy-item">
                        <a class="footer__copy-link" href="#">
                            Политика конфиденциальности
                        </a>
                    </li>
                    <li class="footer__copy-item">
                        <a class="footer__copy-link" href="#">
                            Условия возврата
                        </a>
                    </li>
                </ul>
                <p class="footer__copy-text">
                    Заполняя любую форму обратной связи на данном сайте, вы соглашаетесь с политикой конфиденциальности.
                    Также вы можете ознакомиться с правилами возврата товара.
                    Сайт не является публичной офертой, информация размещена в ознакомительных целях.
                </p>
                <img class="footer__copy-img" src="../images/qr.jpg" alt="qr code">
            </div>
        </div>
    </div>
</footer>